html{
    box-sizing: border-box;
}

*,
*::before, 
*::after {
    box-sizing: inherit;
}

/* ---------------fonts----------------- */

@font-face{
    font-family: "Helvetic",Arial, Helvetica, sans-serif;
    src: url(../fonts/HelveticaNeue.woff2) format('woff2'),
         url(../fonts/HelveticaNeue.woff) format("woff");
         font-style: normal;
         font-weight: 400;
         font-display: swap;
}




/* -----------------default class --------------- */

a{
    text-decoration: none;
    color: #000000;
    display: inline-block;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline-block;

}


body{
    background-image: url(../images/background.png);
    background-size: cover;
    font-family: 'Bebas Neue', cursive, sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.contanier{
   max-width: 960px ;
   margin: 0 auto;
   padding: 0 10px;
}

/* -------------------------------------------------------------- */


.header{
    padding: 25px 0;
}

.header__wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header__logo-link{
    font-size: 36px;
    color: #e8603c;
    
}

.header__logo-link > span {
    color: #c2c2c2;
}


.header__nav-item{
    
    display: inline-block;
    
}

.header__nav-item + .header__nav-item{
    margin-left: 35px;
}

.header__nav-link{
    color: #c2c2c2;
    transition: all 2s;
    font-size: 16px;
    
}

.header__nav-link:hover{
    color: #e8663c;
}

.header__nav-link--activ{
    color: #e8663c;
}

.header__nav-btn{
    width: 30px;
    display: none;
}



.header__nav-row{
    width: 100%;
    background-color: #000000;
    height: 4px;    
    margin-bottom: 4px;

}
/* --------------------header end---------------------------- */



.slider{
    position: relative;
}

.slider::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 65px;
    width: calc((100% - 960px) / 2 );
    background-color: #f2ae9c;
}

.slider::after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 65px;
    width: calc((100% - 960px) / 2 );
    background-color: #f2ae9c;
}



.slider__item{
    min-height: 401px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    position: relative;
    
}

.slider__item-text{
    position: absolute;
    bottom: 35px;
    left: 38px;
    padding: 25px 30px 27px 25px ;
    background-color: rgba(232, 102, 60, .8);
   
}

.item__title{
    font-size: 18px;
    color: #ffffff;
}

.item__text{
   max-width: 370px;
   color: #ffffff;
   font-family: "Helvetic",Arial, Helvetica, sans-serif;
   text-transform: lowercase;
}

.slider__menu{
    padding: 20px 0;
   
}

.slider__menu-item + .slider__menu-item {
    margin-left: 20px;
}

.slider__menu-img {
    height: 123px;
    width: 140px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider__menu .slick-track{
    transform: translate3d(0px, 0px, 0px) !important;
}

.slick-arrow{
    height: 52px;
    width: 36px;
}
.slick-arrow:before {
    display: none;
}
.slick-prev, 
.slick-next{
    top: 35%;
    z-index: 1;
}

.slick-prev{
    left: 28px;
}

.slick-next {
    right: 25px;
}






    


/* --------------------------slider end----------------------- */

/* -----------------------------about-------------------------- */

.about{
    padding: 20px 0;
}
 
.about__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
   max-width: 300px;
   margin-bottom: 10px;
    
}

.card__title{
    font-size: 20px;
    line-height: 24px;
    color: #e8663c;
    margin-bottom: 35px;
    padding-left: 80px;
    padding-top: 6px;
    padding-right: 25px;
    position: relative;
    font-weight: 400;
}
.card__title-icon{
    width: 46px;
    height: 46px;
    position: absolute;
    left: 0;
    top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__title-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__text{
    margin-bottom: 20px;
    text-transform: none;
    font-family: "Helvetic",sans-serif;
    line-height: 18px;
}

.card__link{
    padding: 10px 15px;
    background-color: #e8663c;
    color: #ffffff;
}

/* --------------------------------------------------------- */
  

.works{
    padding: 10px 0 50px ;
}

.works__title{
    font-size: 18px;
    color: #e8663c;
    font-weight: 400;
    margin-bottom: 30px;
    background-image: url(../images/line-bg.png);
    background-repeat: repeat;
    background-position: center;
}

.works__title span {
    background-color: #fff;
    padding-right: 15px;
}

.works__cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}


.works__card-img{
    height: 184px;
    width: 220px;
    object-fit: cover;
    overflow: hidden;
    display: block;
}
.works__card-img img{
    width: 100%;
    height: 100%;
}

.works__card-text{
    font-size: 18px;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
    padding:15px 0 15px 15px;

}

.works__card-text a{
    color: #b9b9b9;
    margin-bottom: 10px;
    display: inline-block;
}

.works__card-date{
    font-size: 11px;
    color: #e8663c;
   
}

.footer{
    position: relative;
}
.footer__inner{
    background-color: #e8663c;
    color: #ffffff;
    padding: 40px 35px 50px;
}

.footer__card-title{

    font-size: 20px;

}
.footer__card-text {
    font-family: "Helvetic",sans-serif;
    text-transform: none;
    line-height: 14px;
    margin-bottom: 15px;
    
}

.footer__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer__card{
    width: 260px;
}

.footer__card--small {
    width: 220px;
}

.footer__card-text p span{
    opacity: .6;

}

.footer__link-img{
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.footer__icon-link{
    margin-right: 8px;
}

.footer::after,
.footer::before {
    content: "";
    position: absolute;
    height: 100%;
    width: calc((100% - 960px) / 2);
    background-color: #f2ae9c;
}
.footer::before{
    left: 0;
    top: 0;
}
.footer::after{
    right: 0;
    top: 0;
}



